export _EXPERIMENTAL_DAGGER_CLOUD_TOKEN=76a82d8a-e9ec-4451-98eb-fded7fad3f9c
export _EXPERIMENTAL_DAGGER_CLI_BIN=/Users/jeremyadams/src/dagger-fork/bin/dagger
export _EXPERIMENTAL_DAGGER_RUNNER_HOST=docker-container://dagger-engine.dev
export PATH=~/src/dagger-fork/bin:$PATH
